torch>=2.2.0
torchaudio>=2.2.0
torchvision>=0.17.0

accelerate
audioread
certifi
cffi
chardet
charset-normalizer
click
diffusers
einops
einx
huggingface_hub
idna
librosa
music21
numpy
packaging
Pillow
requests
soundfile
tqdm
transformers
urllib3
webcolors
./yue2_infer-0.1.5-py3-none-any.whl